<div class="large-container">

  <h1> <%= @user.name %> </h1>
  <h3> Member since: <%= time_ago_in_words @user.created_at %>
  <h3> Contact Information: <%= @user.email %>
</div>
<% if @user == current_user %>
  <div class="large-container">
  <h2> Invitations:</h2>
    <% @invites.each do |event| %>
      <%= render partial: 'events/event', locals: { event: event } %>
    <% end %>
  </div>
<% end %>
<div class="large-container">
  <h2>Created events by <%= @user.name %>:</h2>

  <% @user.events.order('date').each do |event| %>
    <%= render partial: 'events/event', locals: { event: event } %>
  <% end %>

</div>


<div class="large-container">
  <h2>New Upcoming events <%= @user.name %> is attending</h2>
  <% @user.attended_events.order('date').each do |event| %>
    <%= render partial: 'events/event', locals: { event: event } %>
  <% end %>
</div>
